absl-py==2.4.0
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
filelock==3.29.0
flatbuffers
fonttools==4.62.1
idna==3.13
jax==0.10.0
jaxlib==0.10.0
kiwisolver==1.5.0
matplotlib==3.10.9
mediapipe==0.10.14
ml_dtypes==0.5.4
numpy==2.4.4
onnxruntime==1.25.0
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opt_einsum==3.4.0
packaging==26.2
pi_heif==1.3.0
pillow==12.2.0
protobuf==4.25.9
pycparser==3.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.33.1
scipy==1.17.1
six==1.17.0
sounddevice==0.5.5
soupsieve==2.8.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
supabase
python-dotenv
langchain-cohere
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
streamlit
pandas
langchain-groq
ragas
datasets
nest-asyncio
